.App {
  align:left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-card {
  min-height: 60vh;
}

.registerMessage {
  margin-top: 10vh;
}
.loginText {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.successMessage {
  color: green;
  font-weight: bold;
}

.form-registration{
  width:100%;
  max-width:400px;
  padding:15px;
  margin:auto;

}

.form-login{
  width:100%;
  max-width:400px;
  padding:15px;
  margin:auto;

}

.uplod-files{
  width:100%;
  max-width:400px;
  padding:15px;
  margin:auto;
}
.img{
  align:left;
  width:100%;
  margin:0;
   
}